# Node modules
node_modules/

# Environment variables
.env



# Firebase Service Account
ServiceAcc/

# Local Netlify folder
.netlify/

# Log files
*.log

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/

# Miscellaneous
*.env.local
*.env.development
*.env.test
*.env.production
